<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">
      <form class="login-form validate-form" method="post" action="#">
        <span class="login-form-logo">
          <i class="fa fa-user"></i>
        </span>

        <span class="login-form-title">
          Log in
        </span>

        <div class="wrap-input validate-input">
          <input class="input" type="text" name="username" placeholder="Username" required>
          <span class="focus-input" data-placeholder="&#xf207;"></span>
        </div>

        <div class="wrap-input validate-input">
          <input class="input" type="password" name="password" placeholder="Password" required>
          <span class="focus-input" data-placeholder="&#xf191;"></span>
        </div>

        <div class="contact-form-checkbox">
          <input class="input-checkbox" id="remember-me" type="checkbox" name="remember-me">
          <label class="label-checkbox" for="remember-me">
            Remember me
          </label>
        </div>

        <div align="center" name="error-message"></div>

        <div class="container-login-form-btn">
          <button class="login-form-btn">
            Login
          </button>
        </div>

        <div class="text-center">
          <a class="txt1" href="#">
            Forgot Password?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>