<div class="container">
    <div class="top-padding">
      <h4>Edit Role</h4>
      <form mthod="post">
        <div class="form-group">
          <div class="col-md-6">
            <label for="role_name">Role Name</label>
            <input type="text" class="form-control" id="role_name" name="role_name">
          </div>
        </div>
        <div class="col-md-12">
          <button type="submit" id="btn_edit" name="btn_edit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
  